@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: green;
  --primary-font: 'Poppins', sans-serif !important;

  --green-color: hsla(148, 78%, 39%, 1);
  --red-color: hsla(360, 78%, 62%, 1);
  --yellow-color: hsla(41, 92%, 54%, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
  scrollbar-color: #cbd5e0 #f1f1f1;
  scrollbar-width: thin;
}

body,
input {
  font-family: var(--primary-font);
  font-weight: 400;
  scrollbar-color: #cbd5e0 #f1f1f1;
  scrollbar-width: thin;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
ol,
ul,
dl,
button,
button span {
  font-family: var(--primary-font);
  margin: 0;
  padding: 0;
}

abbr,
abbr[title] {
  cursor: pointer;
  text-decoration: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

input {
  box-shadow: none !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  --webkit-appearance: none;
}

ul {
  list-style-type: none;
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.primary-text-color {
  color: var(--primary-color);
}

.container-wrapper {
  @apply h-full max-w-[800px] mx-auto p-4 w-full lg:py-8 lg:mt-[4.85rem];
}

/* Form Styling Start */

.form-field-label {
  @apply block mt-1 mb-1.5 text-xs sm:text-sm;
}

.form-field-item {
  @apply border font-medium rounded-md text-sm md:text-base;
}

/* Form Styling Stop */

/* Dropdown Button Start */

.dropdown-item-button {
  @apply !justify-start;
}

.dropdown-item-button-label {
  font-weight: 400;
  @apply text-xs md:text-sm;
}

/* Dropdown Button Stop */

/* Notification Styling Start */

.custom-notification-message.ant-message-notice .ant-message-notice-content {
  @apply px-4 py-3 rounded-lg text-sm;
}

.custom-notification-message.success .ant-message-notice-content {
  background-color: var(--green-color);
  color: white;
}

.custom-notification-message.success .ant-message-notice-content .anticon {
  color: white;
}

.custom-notification-message.error .ant-message-notice-content {
  background-color: var(--red-bg-color);
  color: white;
}

.custom-notification-message.error .ant-message-notice-content .anticon {
  color: white;
}

.custom-notification-message.warning .ant-message-notice-content {
  background-color: var(--yellow-color);
  color: black;
}

.custom-notification-message.warning .ant-message-notice-content .anticon {
  color: black;
}

.custom-notification-message.dark .ant-message-notice-content {
  background-color: #07001a;
  color: white;
}

.custom-notification-message.dark .ant-message-notice-content .anticon {
  color: white;
}

/* Notification Styling Stop */

/* width */
::-webkit-scrollbar {
  height: 14.5px;
  width: 14.5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: #edf2f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cbd5e0;
  border: 4px solid #edf2f7;
  border-radius: 100vh;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}
