/* Table Styling Start */

.table-tools-container {
  @apply border-t border-solid border-0 p-4;
  /* @apply  dark:bg-gray-800 dark:border-gray-700 px-2 py-3; */
}

.table-container {
  @apply border-0 relative overflow-x-auto max-h-[31rem];
}

.table-container > table {
  border-collapse: separate;
  border-spacing: 0;
  @apply divide-y divide-gray-200 min-w-full table-fixed;
}

.table-container thead th {
  @apply sticky top-0 z-10;
  @apply bg-white;
  @apply border border-x-0 border-solid;
}

.table-container > table thead {
  @apply bg-white;
  @apply border border-x-0 border-solid;
}

.table-container .table-head {
  @apply font-normal px-2 py-3 text-left text-sm tracking-wider;
}

.table-container .table-data {
  @apply leading-6 max-w-[17rem] min-w-[5rem] px-2 py-3 whitespace-break-spaces text-sm;
}

.table-container .table-data-sn {
  @apply w-2 text-center text-sm;
}

.table-container .table-footer-data {
  @apply capitalize px-2 py-4 text-sm;
}

.table-avatar-title-sub-cell {
  @apply flex flex-wrap items-center w-full;
}

.table-avatar-title-sub-cell-image {
  @apply flex-shrink-0 h-10 w-10;
}

.table-avatar-title-sub-cell-image > div {
  @apply h-10 relative rounded-full w-10;
}

.table-avatar-title-sub-cell-image > div img {
  @apply h-full rounded-full w-full;
}

.table-avatar-title-sub-cell-image-placeholder {
  @apply h-10 inline-flex items-center justify-center rounded-lg w-10;
}

.table-container tbody tr:nth-child(even) .table-avatar-title-sub-cell-image-placeholder {
  @apply bg-gray-300;
}

.table-avatar-title-sub-cell-image-placeholder.image-icon > span {
  @apply left-[0.05rem] relative top-[0.075rem];
}

.table-avatar-title-sub-cell-title {
  @apply pl-4 text-left;
  width: calc(100% - 3rem);
}

.table-avatar-title-sub-cell-title .title {
  @apply leading-6 mb-0.5 text-sm font-medium whitespace-break-spaces;
  word-wrap: break-word;
}

.table-avatar-title-sub-cell-title .subtitle {
  @apply leading-5 m-0 normal-case font-normal whitespace-break-spaces text-sm;
  word-wrap: break-word;
}

/* Table Styling Stop */
